<div class="container mt-4">
  <mat-card>
  <mat-card-title></mat-card-title>
<mat-card-content>
  <div class="col-xs-1" align="center">
    <h1 class="fw-bold">{{ isLogin ? 'SignIn' : 'SignUp'}}</h1>
  <form [formGroup]="authForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Email</mat-label>
        <input formControlName = "email" matInput placeholder="Enter Email" type="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="authForm.controls['email'].hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="authForm.controls['email'].hasError('email')">Invalid Email</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-1">
      <mat-form-field appearance="outline" class="col-6">
        <mat-label>Password</mat-label>
        <input formControlName = "password" matInput placeholder="Enter Password" type="password">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="authForm.controls['password'].hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="authForm.controls['password'].hasError('pattern') && !isLogin">Weak Password</mat-error>
      </mat-form-field>
    </div>
    <br>
    <div class="alert alert-danger mb-2 col-md-6"*ngIf="error"><mat-error >{{ error }}</mat-error></div>

    <div class="col-12">
      <button mat-raised-button color="primary" type="submit">{{ isLogin ? 'Login' : 'Register'  }}</button>
    </div>
    <br>
    <div class="col-12">
      <div *ngIf="isLogin">
        <h3 >Don't have an account?
          <a style="cursor: pointer;text-decoration: none;" class="text-primary" (click) = "toggleLogin()">Register</a>
        </h3>
      </div>
      <div *ngIf="!isLogin">
        <h3>
          Already have an account? <a style="cursor: pointer;text-decoration: none;" class="text-primary" (click) = "toggleLogin()">Login</a>
        </h3>
      </div>

    </div>

  </form>

</div>
</mat-card-content>
</mat-card>
</div>
